body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { width: 100%; height: 100%}
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: url('loading_bg.jpg'); background-repeat: no-repeat; background-size: cover }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 374px; height: 108px; margin-left: auto; margin-right:auto; background: url('loading_anim.gif') no-repeat center }
#unity-progress-bar-empty { width: 666px; height: 20px; margin-top: 10px; margin-left: auto; margin-right: auto; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 20px; margin-top: 10px; margin-left: 5px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
